@model TestBlog.ViewModels.postViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="sidebar-head"><span>Create post</span></div>

<div >
    
    <div class="text-sm-center">
        <form enctype="multipart/form-data" asp-action="CreatePost" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Headline" class="control-label"></label>
                <input asp-for="Headline" class="form-control" />
                <span asp-validation-for="Headline" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="postWriteUp" class="control-label"></label>
                <input asp-for="postWriteUp" class="form-control" />
                <span asp-validation-for="postWriteUp" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="custom-file">
                    <label asp-for="Photo" class="control-label"></label>
                    <input asp-for="Photo" type="file" class="form-control custom-file-input" style="opacity: 1">
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <select asp-for="Description" class="custom-select mr-sm-2" placeholder="choose"
                        asp-items="Html.GetEnumSelectList<TestBlog.Models.Category>()">
                    <option> value="Please Select"</option>
                </select>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group text-sm-center">

                <input type="submit" value="..post.." class="btn btn-primary " />
            </div>
            @section Scripts {
                <script>
                    $(document).ready(function () {
                        $(".content *").css('margin', '0px');
                    });

                    $(document).ready(function () {
                        $('.custom-file-input').on("change",
                            function () {
                                var fileName = $(this).val().split("\\").pop();
                                $(this).next('.custom-file-label').html(fileName);
                            });
                    });

                </script>
            }
        </form>
    </div>
</div>


